body {
    background-color: rgb(255, 255, 255);
}
p {
    color: rgb(0, 0, 0);
    font-size: 60px;
}
.buttons-con {
    width: fit-content;
    margin: auto;
}
#record-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }