#slider {
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
  }
  
  #slider .slides {
    display: flex;
    width: 500px;
    height: 300px;
    transition: transform 0.4s;
  }
  
  #slider .slides img {
    width: 500px;
    height: 300px;
  }
  
  #prev-btn,
  #next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    cursor: pointer;
    user-select: none;
  }
  
  #prev-btn {
    left: 10px;
  }
  
  #next-btn {
    right: 10px;
  }
  
  #slider-nav {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #slider-nav .nav-btn {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    user-select: none;
    margin: 0 5px;
  }
  
  #slider-nav .nav-btn.active {
    background-color: black;
  }