/* Slider */
#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto;
  width: 700px;
}
.slides img {
width: 700px;
height: auto;
}
.slides {
  display: flex;
  transition: transform 0.4s;
}

/* Navigation buttons */
#prev-btn,
#next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  cursor: pointer;
  user-select: none;
}

#prev-btn {
  left: 5%;
}

#next-btn {
  right: 5%;
}

/* Navigation buttons */
#slider-nav {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.nav-btn {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: #ccc;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.nav-btn.active {
  background-color: #333;
}